.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  padding: 0px;
}
.grid-item_left {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 0;
  font-size: 30px;
  text-align: left;
}

.grid-item_right {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 0;
  font-size: 30px;
  text-align: right;
}

.grid-item_right img {
  width: 60%;
  height: auto;
}

.topleft_service {
  position: absolute;
  top: 30%;
  left: 15px;

  /* position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px; */
}

.text_style_service {
  font-size: 50px;
  font-family: "Playfair Display";
  color: rgb(0, 0, 0);
  font-weight: 600;
  line-height: 99%;
  letter-spacing: -0.03em;
  font-style: normal;
}

.para_style_service {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  margin-top: 5vh;
}

.btn__style_service {
  color: rgb(255, 255, 255);
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #000000;
  background-color: #000000;
  border-radius: 5px;
  margin-top: 5vh;
}
